@import './../../fonts.css';
.mainContainer{
    max-width: 948px;
    
    
    
}
.main{
    display: grid;
	place-items: center;
    overflow-x: hidden;
   

   
  
    
    }

.leftContainer{
    display: flex;
    flex-direction: column;
   background-color: #E2E2E27A;
   
}

.buttonContainer{
    


}

.label{
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.3px;
   
}
